*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSection{
    border: 2px black solid;
    padding: 20px;
    box-shadow: rgba(200, 237, 180, 0.8) 10px 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.numberFields{
    display: flex;
    gap: 30px;
}

input{
    width: 100px;
    font-weight: 500;
    padding: 5px;
}

p{
    font-size: large;
    font-weight: 700;
}

.num1,
.num2,
.operatorField{
    display: flex;
    gap: 10px;
    align-items: center;
}

button{
    font-size: large;
    padding: 5px 15px;
    cursor: pointer;
}

