*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSection{
    border: 2px black solid;
    border-radius: 5px;
    box-shadow: rgba(1, 2, 3, 0.8) -10px -10px 9px;
    padding: 10px 20px 30px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#nameBlock,
#resultBlock{
    display: flex;
    align-items: center;
    gap: 10px;
}

#resultBlock{
    display: none;
}

