div {
    height: 100px;
    width: 100px;
    background-color: #ff0000;
    position: relative;
    /* animation-name: colorchange;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-direction: alternate-reverse; */
    animation: colorchange 8s ease 3s infinite alternate-reverse none;
}
/* #ease{
    animation-timing-function: ease;
}
#linear{
    animation-timing-function: linear;
}
#ease-in{
    animation-timing-function: ease-in;
}
#ease-out{
    animation-timing-function: ease-out;
} */

@keyframes colorchange {
    0% {
        background-color: blue;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: orange;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: black;
        left: 200px;
        top: 200px;
    }
    75%{
        background-color: aquamarine;
        left: 0px;
        top: 200px;
    }
    100%{
        background-color: red;
        left: 0px;
        top: 0px;
    }
}