body {
    background-color: #333;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#colorbtn {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}